<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">
    <insert id="insertBatch">
        INSERT INTO setmeal_dish (setmeal_id, dish_id, copies) values
        <foreach collection="list" item="setmealDish" separator=",">
            (#{setmealDish.setmealId}, #{setmealDish.dishId}, #{setmealDish.copies})
        </foreach>

    </insert>

    <select id="countByDishId" resultType="int" parameterType="list">
            SELECT COUNT(*) FROM setmeal_dish
            WHERE dish_id IN
            <foreach collection="list" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </select>

</mapper>